<mat-card class="cap-card"  matBadge="{{biz.id}}" matBadgePosition="before" matBadgeSize="medium" matBadgeColor="accent"  fxFlex="0 0 300px" fxFlex.lt-sm="0 0 300px" >
  <mat-card-header>
    <div mat-card-avatar><mat-icon [inline]="true">{{biz.symbol}}</mat-icon></div>
    <mat-card-title *ngIf="biz.showlogo"><img class="cap-bizlogo" [src]="biz.logopath"></mat-card-title>
    <mat-card-title *ngIf="!biz.showlogo">{{biz.name}}</mat-card-title>
    <mat-card-subtitle>{{biz.type}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  *ngIf="biz.cardphoto" [src]="biz.cardphoto" [alt]="biz.cardphototitle">
  <mat-card-content class="cap-card-content">
      <ng-container  *ngIf="biz.openhours.length > 0"><p class="cap-detail" style="margin-bottom:2px;">Öffnungszeiten:<br></p></ng-container> 
<ng-container *ngFor="let oh of biz.openhours">
  <div><span class="cap-openhours-day">{{oh[0]}}</span><span class="cap-openhours-hours">{{oh[1]}}</span></div>
</ng-container>
<p *ngIf="biz.tel" class="cap-detail" style="margin-top:3px;">Telefon:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a [href]="'tel:' + biz.telhtml">{{biz.tel}}</a></p>
<p *ngIf="biz.website" class="cap-detail" style="margin-top:0px;">Website:&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{biz.website}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> externer Link</a></p>
  </mat-card-content>
</mat-card>
