<mat-card class="example-card" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content >
        <div class="img-container">
            <img src="../../assets/img/websitemap3small.png" alt="Übersichtskarte">   
            <div fxHide.lt-sm class="zufahrt1">
                <div class="zufahrt-text" [innerHTML]="dataService.baseData.zufahrt1"></div>
                <div class="zufahrt-logos">
                <mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_upward</mat-icon></div>
            </div>
            <div fxHide.lt-sm class="zufahrt2">
                    <div class="zufahrt-text" [innerHTML]="dataService.baseData.zufahrt2"></div>
                <div class="zufahrt-logos"><mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_forward</mat-icon></div>
            </div>
            <div fxHide fxShow.lt-sm class="zufahrt1-sm">
                <div class="zufahrt-text-sm" [innerHTML]="dataService.baseData.zufahrt1"></div>
                <div class="zufahrt-logos-sm">
                <mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_upward</mat-icon></div>
            </div>
            <div fxHide fxShow.lt-sm class="zufahrt2-sm">
                    <div class="zufahrt-text-sm" [innerHTML]="dataService.baseData.zufahrt2"></div>
                <div class="zufahrt-logos-sm"><mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_forward</mat-icon></div>
            </div>
            <div fxHide.lt-sm class="busstop">
                <div class="zufahrt-text">Bushaltestelle:<br>blablub</div>
                <div class="zufahrt-logos">
               <mat-icon [inline]="true">directions_bus</mat-icon></div>
            </div>
            <div fxHide.lt-sm class="dhl-parent">
                <img class="dhl-img1" src="../../assets/img/dp_small.png"/>
                <img class="dhl-img2" src="../../assets/img/dhl_small.png"/>
                <img class="dhl-img3" src="../../assets/img/lotto_small.png"/>
            </div>
            <div fxHide fxShow.lt-sm class="dhl-parent-sm">
                <img class="dhl-img1-sm" src="../../assets/img/dp_mini.png"/>
                <img class="dhl-img2-sm" src="../../assets/img/dhl_mini.png"/>
                <img class="dhl-img3-sm" src="../../assets/img/lotto_mini.png"/>
            </div>

            <div fxHide.lt-sm  class="s1label labelbase" matBadge="1" matBadgePosition="before" matBadgeSize="large" (mouseenter) ="mouseEnter(1) "  (mouseleave) ="mouseLeave(1)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="1 == activeShop" [class.labeltext]="1 == activeShop" [innerHTML]="dataService.shops[0].htmlname"></span>
            </div>
            <div fxHide.lt-sm class="s1mover smooverbase"  (mouseenter) ="mouseEnter(1) "  (mouseleave) ="mouseLeave(1)" (tap)="mouseEnter(1)"></div>
            <div  fxHide.lt-sm class="s2label labelbase" matBadge="2" matBadgePosition="before" matBadgeSize="large"  (mouseenter) ="mouseEnter(2) "  (mouseleave) ="mouseLeave(2)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="2 == activeShop" [class.labeltext]="2 == activeShop" [innerHTML]="dataService.shops[1].htmlname"></span>
            </div>
            <div fxHide.lt-sm class="s2mover smooverbase"  (mouseenter) ="mouseEnter(2) "  (mouseleave) ="mouseLeave(2)" (tap)="mouseEnter(2)"></div>
            <div fxHide.lt-sm class="s3label labelbase" matBadge="3" matBadgePosition="before" matBadgeSize="large"  (mouseenter) ="mouseEnter(3) "  (mouseleave) ="mouseLeave(3)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="3 == activeShop" [class.labeltext]="3 == activeShop" [innerHTML]="dataService.shops[2].htmlname"></span>
            </div>
            <div fxHide.lt-sm class="s3mover smooverbase"  (mouseenter) ="mouseEnter(3) "  (mouseleave) ="mouseLeave(3)" (tap)="mouseEnter(3)"></div>
            <div fxHide.lt-sm class="s4label labelbase" matBadge="4" matBadgePosition="before" matBadgeSize="large" (mouseenter) ="mouseEnter(4) "  (mouseleave) ="mouseLeave(4)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="4 == activeShop" [class.labeltext]="4 == activeShop" [innerHTML]="dataService.shops[3].htmlname"></span>
            </div>            
            <div fxHide.lt-sm class="s4mover smooverbase"  (mouseenter) ="mouseEnter(4) "  (mouseleave) ="mouseLeave(4)" (tap)="mouseEnter(4)"></div>
            <div fxHide.lt-sm class="s5label labelbase" matBadge="5" matBadgePosition="before" matBadgeSize="large" (mouseenter) ="mouseEnter(5) "  (mouseleave) ="mouseLeave(5)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="5 == activeShop" [class.labeltext]="5 == activeShop" [innerHTML]="dataService.shops[4].htmlname"></span>
            </div>            
            <div fxHide.lt-sm class="s5mover smooverbase"  (mouseenter) ="mouseEnter(5) "  (mouseleave) ="mouseLeave(5)" (tap)="mouseEnter(5)"></div>
            <div fxHide.lt-sm class="s6label labelbase" matBadge="6" matBadgePosition="before" matBadgeSize="large" (mouseenter) ="mouseEnter(6) "  (mouseleave) ="mouseLeave(6)">&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="6 == activeShop" [class.labeltext]="6 == activeShop"  [innerHTML]="dataService.shops[5].htmlname"></span>
            </div>           
            <div fxHide.lt-sm class="s6mover smooverbase"  (mouseenter) ="mouseEnter(6) "  (mouseleave) ="mouseLeave(6)" (tap)="mouseEnter(6)"></div>
            <div fxHide.lt-sm class="s7label labelbase" matBadge="7" matBadgePosition="before" matBadgeSize="large" (mouseenter) ="mouseEnter(7) "  (mouseleave) ="mouseLeave(7)">&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="7 == activeShop" [class.labeltext]="7 == activeShop" [innerHTML]="dataService.shops[6].htmlname"></span>
            </div>            
            <div fxHide.lt-sm class="s7mover smooverbase"  (mouseenter) ="mouseEnter(7) "  (mouseleave) ="mouseLeave(7)" (tap)="mouseEnter(7)"></div>
            <div fxHide.lt-sm class="s8label labelbase" matBadge="8" matBadgePosition="before" matBadgeSize="large"  (mouseenter) ="mouseEnter(8) "  (mouseleave) ="mouseLeave(8)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="8 == activeShop" [class.labeltext]="8 == activeShop" [innerHTML]="dataService.shops[7].htmlname"></span>
            </div>            
            <div fxHide.lt-sm class="s8mover smooverbase"  (mouseenter) ="mouseEnter(8) "  (mouseleave) ="mouseLeave(8)" (tap)="mouseEnter(8)"></div>
            <div fxHide.lt-sm class="s9label labelbase" matBadge="9" matBadgePosition="before" matBadgeSize="large"  (mouseenter)="mouseEnter(9) "  (mouseleave) ="mouseLeave(9)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="9 == activeShop"  [class.labeltext]="9 == activeShop" [innerHTML]="dataService.shops[8].htmlname"></span>
            </div>  
            <div fxHide.lt-sm class="s9mover smooverbase"  (mouseenter) ="mouseEnter(9)" (tap)="mouseEnter(9)" (mouseleave) ="mouseLeave(9)"></div>
            <div fxHide.lt-sm class="s10label labelbase" matBadge="10" matBadgePosition="before" matBadgeSize="large"  (mouseenter)="mouseEnter(10) "  (mouseleave) ="mouseLeave(10)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="10 == activeShop"  [class.labeltext]="10 == activeShop" [innerHTML]="dataService.shops[9].htmlname"></span>
            </div>  
            <div fxHide.lt-sm class="s10mover smooverbase"  (mouseenter) ="mouseEnter(10)" (tap)="mouseEnter(10)" (mouseleave) ="mouseLeave(10)"></div>
            <div fxHide.lt-sm class="s11label labelbase" matBadge="11" matBadgePosition="before" matBadgeSize="large"  (mouseenter)="mouseEnter(11) "  (mouseleave) ="mouseLeave(11)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="11 == activeShop"  [class.labeltext]="11 == activeShop" [innerHTML]="dataService.shops[10].htmlname"></span>
            </div>  
            <div fxHide.lt-sm class="s11mover smooverbase"  (mouseenter) ="mouseEnter(11)" (tap)="mouseEnter(11)" (mouseleave) ="mouseLeave(11)"></div>
            <!-- small labels -->
            <div fxHide fxShow.lt-sm  class="s1label-sm labelbase" matBadge="1" matBadgePosition="before" matBadgeSize="medium" (mouseenter) ="mouseEnter(1) "  (mouseleave) ="mouseLeave(1)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="1 == activeShop" [style.display]="1 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="1 == activeShop" [innerHTML]="dataService.shops[0].htmlname"></span>
            </div>
            <div fxHide fxShow.lt-sm class="s1mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(1) "  (mouseleave) ="mouseLeave(1)" (tap)="mouseEnter(1)"></div>
            <div  fxHide fxShow.lt-sm class="s2label-sm labelbase" matBadge="2" matBadgePosition="before" matBadgeSize="medium"  (mouseenter) ="mouseEnter(2) "  (mouseleave) ="mouseLeave(2)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="2 == activeShop" [style.display]="2 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="2 == activeShop" [innerHTML]="dataService.shops[1].htmlname"></span>
            </div>
            <div fxHide fxShow.lt-sm class="s2mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(2) "  (mouseleave) ="mouseLeave(2)" (tap)="mouseEnter(2)"></div>
            <div fxHide fxShow.lt-sm class="s3label-sm labelbase" matBadge="3" matBadgePosition="before" matBadgeSize="medium"  (mouseenter) ="mouseEnter(3) "  (mouseleave) ="mouseLeave(3)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="3 == activeShop" [style.display]="3 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="3 == activeShop" [innerHTML]="dataService.shops[2].htmlname"></span>
            </div>
            <div fxHide fxShow.lt-sm class="s3mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(3) "  (mouseleave) ="mouseLeave(3)" (tap)="mouseEnter(3)"></div>
            <div fxHide fxShow.lt-sm class="s4label-sm labelbase" matBadge="4" matBadgePosition="before" matBadgeSize="medium" (mouseenter) ="mouseEnter(4) "  (mouseleave) ="mouseLeave(4)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="4 == activeShop" [style.display]="4 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="4 == activeShop" [innerHTML]="dataService.shops[3].htmlname"></span>
            </div>            
            <div fxHide fxShow.lt-sm class="s4mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(4) "  (mouseleave) ="mouseLeave(4)" (tap)="mouseEnter(4)"></div>
            <div fxHide fxShow.lt-sm class="s5label-sm labelbase" matBadge="5" matBadgePosition="before" matBadgeSize="medium" (mouseenter) ="mouseEnter(5) "  (mouseleave) ="mouseLeave(5)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="5 == activeShop" [style.display]="5 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="5 == activeShop" [innerHTML]="dataService.shops[4].htmlname"></span>
            </div>            
            <div fxHide fxShow.lt-sm class="s5mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(5) "  (mouseleave) ="mouseLeave(5)" (tap)="mouseEnter(5)"></div>
            <div fxHide fxShow.lt-sm class="s6label-sm labelbase" matBadge="6" matBadgePosition="before" matBadgeSize="medium" (mouseenter) ="mouseEnter(6) "  (mouseleave) ="mouseLeave(6)">&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="6 == activeShop" [style.display]="6 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="6 == activeShop" [innerHTML]="dataService.shops[5].htmlname"></span>
            </div>           
            <div fxHide fxShow.lt-sm class="s6mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(6) "  (mouseleave) ="mouseLeave(6)" (tap)="mouseEnter(6)"></div>
            <div fxHide fxShow.lt-sm class="s7label-sm labelbase" matBadge="7" matBadgePosition="before" matBadgeSize="medium" (mouseenter) ="mouseEnter(7) "  (mouseleave) ="mouseLeave(7)">&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="7 == activeShop" [style.display]="7 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="7 == activeShop" [innerHTML]="dataService.shops[6].htmlname"></span>
            </div>            
            <div fxHide fxShow.lt-sm class="s7mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(7) "  (mouseleave) ="mouseLeave(7)" (tap)="mouseEnter(7)"></div>
            <div fxHide fxShow.lt-sm class="s8label-sm labelbase" matBadge="8" matBadgePosition="before" matBadgeSize="medium"  (mouseenter) ="mouseEnter(8) "  (mouseleave) ="mouseLeave(8)" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="8 == activeShop" [style.display]="8 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="8 == activeShop" [innerHTML]="dataService.shops[7].htmlname"></span>
            </div>            
            <div fxHide fxShow.lt-sm class="s8mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(8) "  (mouseleave) ="mouseLeave(8)" (tap)="mouseEnter(8)"></div>
            <div fxHide fxShow.lt-sm class="s9label-sm labelbase" matBadge="9" matBadgePosition="before" matBadgeSize="medium"  (mouseenter)="mouseEnter(9) "  (mouseleave) ="mouseLeave(9)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="9 == activeShop" [style.display]="9 == activeShop ? 'inline-block' : 'none' "  [class.labeltext]="9 == activeShop" [innerHTML]="dataService.shops[8].htmlname"></span>
            </div>  
            <div fxHide fxShow.lt-sm class="s9mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(9)" (tap)="mouseEnter(9)" (mouseleave) ="mouseLeave(9)"></div>
            <div fxHide fxShow.lt-sm class="s10label-sm labelbase" matBadge="10" matBadgePosition="before" matBadgeSize="medium"  (mouseenter)="mouseEnter(10) "  (mouseleave) ="mouseLeave(10)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="10 == activeShop"  [style.display]="10 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="10 == activeShop" [innerHTML]="dataService.shops[9].htmlname"></span>
            </div>  
            <div fxHide fxShow.lt-sm class="s10mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(10)" (tap)="mouseEnter(10)" (mouseleave) ="mouseLeave(10)"></div>
            <div fxHide fxShow.lt-sm class="s11label-sm labelbase" matBadge="11" matBadgePosition="before" matBadgeSize="medium"  (mouseenter)="mouseEnter(11) "  (mouseleave) ="mouseLeave(11)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span [class.labelbg]="11 == activeShop"  [style.display]="11 == activeShop ? 'inline-block' : 'none' " [class.labeltext]="11 == activeShop" [innerHTML]="dataService.shops[10].htmlname"></span>
            </div>  
            <div fxHide fxShow.lt-sm class="s11mover-sm smooverbase-sm"  (mouseenter) ="mouseEnter(11)" (tap)="mouseEnter(11)" (mouseleave) ="mouseLeave(11)"></div>
        </div>
      
    </mat-card-content>
  </mat-card>