<mat-card class="example-card" fxLayout="row" fxLayoutAlign="center center">
    <mat-card-content >
        <div class="img-container">
            <img src="../../assets/img/websitemap2small.png" alt="Übersichtskarte">


    
            <div class="zufahrt1">
                <div style="text-align: justify;font-size: 17px;    font-weight: 700;">Zufahrt 1:<br>über Heerstraße<br>(Aldi/K+K/Edeka)</div>
                <div style="font-size:25px; text-align: justify">
                <mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_upward</mat-icon></div>
                <!-- todo bus stop -->
            </div>
            <div class="zufahrt2">
                    <div style="text-align: justify;font-size: 17px;    font-weight: 700;
                ">Zufahrt 2:<br>über Hettinger Straße</div>
                <div style="font-size:25px; text-align: justify"><mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_forward</mat-icon></div>
                <!-- <div style="font-size:25px; text-align: justify"> -->
                <!-- <mat-icon [inline]="true">directions_bike</mat-icon><mat-icon [inline]="true">directions_car</mat-icon><mat-icon [inline]="true">arrow_forward</mat-icon></div> -->
                <!-- todo bus stop -->
            </div>
            <div class="busstop">
                <div style="text-align: justify;font-size: 17px;    font-weight: 700;">Bushaltestelle:<br>blablub</div>
                <div style="font-size:25px; text-align: justify">
               <mat-icon [inline]="true">directions_bus</mat-icon></div>
                <!-- todo bus stop -->
            </div>
            <div class="s1label labelbase" matBadge="1" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s2label labelbase" matBadge="2" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s3label labelbase" matBadge="3" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s4label labelbase" matBadge="4" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s5label labelbase" matBadge="5" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s6label labelbase" matBadge="6" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s7label labelbase" matBadge="7" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s8label labelbase" matBadge="8" matBadgePosition="before" matBadgeSize="large">
            </div>
            <div class="s9label labelbase" matBadge="9" matBadgePosition="before" matBadgeSize="large">
            </div>


        </div>
      
    </mat-card-content>
  </mat-card>