.map-card {
    /* max-width: 900px; */
  }

  .img-container {
    position: relative;
  }
  
  img {
      width: 1024px;
  }
  
  .zufahrt2 {
      display: inline-block;
      color:rgb(0, 165, 124);
      background-color: white;
      padding: 5px;
/* '      border-radius: 3%; 
      border-style: solid;
      border-width: 1px;' */
      position: absolute;
      bottom: 45px;
      left: 120px;
  }


  .zufahrt1 {
    display: inline-block;
    color: rgb(0, 165, 124);
    background-color: white;
    padding: 5px;
    /* border-radius: 3%; 
    border-style: solid;
    border-width: 1px; */
    position: absolute;
    bottom: 0px;
    left: 450px;
}

.busstop {
  display: inline-block;
  color: rgb(0, 165, 124);
  background-color: white;
  padding: 5px;
  /* border-radius: 3%; 
  border-style: solid;
  border-width: 1px; */
  position: absolute;
  bottom: 0px;
  left: 710px;
}

.labelbase {
  display: inline-block;
  color: transparent;
  position: absolute;
}
.s1label {
  bottom: 220px;
  left: 230px;
}
.s2label {
  bottom: 330px;
  left: 270px;
}
.s3label {
  bottom: 360px;
  left: 340px;  
}
.s4label {
  bottom: 420px;
  left: 368px;
}
.s5label {
  bottom: 480px;
  left: 445px;
}
.s6label {
  bottom: 480px;
  left: 520px;
}
.s7label {
  bottom: 480px;
  left: 575px;
}
.s8label {
  bottom: 480px;
  left: 625px;
}
.s9label {
  bottom: 450px;
  left: 730px;
}

