<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1024px">

<div fxLayoutAlign="center">
    <h1 class="title">
        {{ dataService.baseData.welcome }}
      </h1>
    </div>
    

<div class="mat-app-background basic-container">
  <app-map></app-map>
</div>    

<div class="mat-app-background basic-container">

<ng-container *ngFor="let shop of dataService.shops; let i = index">
    <app-biz [biz]="shop"></app-biz>
</ng-container>



<router-outlet></router-outlet>
</div>
</div>
</div>
