<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="center center" > 
<div fxFlexFill></div>
<div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center" fxFlex.fxFlex.lg="1024px" fxFlex.xl="1024px">


<div fxLayoutAlign="center">
    <h1 class="title">
        {{ dataService.baseData.welcome }}
      </h1>
    </div>
    

<div class="mat-app-background basic-container">
  <app-map></app-map>
</div>    

<div class="mat-app-background basic-container">

  <div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="25px grid" 
  fxLayoutAlign="center center">
<ng-container *ngFor="let shop of dataService.shops; let i = index">
    <app-biz fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [biz]="shop"></app-biz>
</ng-container>
</div>
<div fxLayout="row" fxLayoutAlign="center center" >
  <div class="cap-content" style="font-size:14px;color:rgba(0, 0, 0, 0.54);margin-top:10px;"><span style="font-weight:700">Adresse:</span> Hettinger Straße 9, 49432 Osterhausen</div><div style="font-size: 20px; margin-top:10px; color:rgba(0, 0, 0, 0.54);"><mat-icon [inline]="true">place</mat-icon></div><div class="cap-content" style="font-size:14px;color:rgba(0, 0, 0, 0.54);margin-top:10px;"> <a href="https://www.google.com/maps?q=Alstercafé,+Ifflandstraße+45,+22087+Hamburg">Route planen (Google Maps)</a></div></div>
<mat-divider style="margin-top: 8px; margin-bottom:3px;"></mat-divider>
<div fxLayoutAlign="center" >
  
<div class="cap-content body-1"><a href="../assets/html/impressum.html">Impressum/Datenschutzerklärung</a></div>
<router-outlet></router-outlet>
</div>
</div>
</div>
<div fxFlexFill></div>
</div>
