@import '~@angular/material/theming';

$cc-app-primary: mat-palette($mat-blue, 600);
$cc-app-accent:  mat-palette($mat-blue-grey);
$cc-app-warn:    mat-palette($mat-deep-orange);
$cc-app-theme: mat-light-theme($cc-app-primary, $cc-app-accent, $cc-app-warn);

@include mat-core();
@include angular-material-theme($cc-app-theme);