@import '~@angular/material/theming';
$bv-orange: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$cc-app-primary: mat-palette($bv-orange, 600);
$cc-app-accent:  mat-palette($mat-blue-grey);
$cc-app-warn:    mat-palette($mat-deep-orange);
$cc-app-theme: mat-light-theme($cc-app-primary, $cc-app-accent, $cc-app-warn);

@include mat-core();
@include angular-material-theme($cc-app-theme);